
$color_blue-light: hsl(231, 69%, 60%);
$color_red-light: hsl(0, 94%, 66%);

$color_grey: hsl(229, 8%, 60%);
$color_blue-dark: hsl(229, 31%, 21%);

$color_grey-light: hsl(0, 0%, 89%);
$color_grey-dark: hsl(206, 18%, 38%);

$color_black: hsl(227, 14%, 12%);
$color_white-1: hsl(240, 5%, 96%);

