@font-face {
  font-display: swap;
  font-family: 'Rubik-regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Rubik-Regular.woff2) format("woff2"), url(../fonts/Rubik-Regular.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Rubik-medium';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Rubik-Medium.woff2) format("woff2"), url(../fonts/Rubik-Medium.woff) format("woff");
}
